@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-card backdrop-blur-lg border-0 rounded-3xl;
  }
}